*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root{
    scroll-behavior: smooth;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

}

#logo{
    font-size: 30px;
    width: 6%;
}

header{
    height: 15vh;
    background: #BA5370;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  
    background: linear-gradient(to right, #F4E2D8, #BA5370);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


}

.head {
    position: absolute; 
    top: 5px; 
    left: 20px; 
    color: #993e58;
    font-size: 15px;
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.photo{
    z-index: 10;
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.tarjeta{
    border: none;
    text-align: justify;
}

.menu-navegacion{
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out; 
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}

.menu-navegacion a:hover{
    color: #993e58;
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.titulo{
    font-size: 20px;
    margin: 0;
    font-weight: bolder;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.card .card-title{
    color: #DD5E89;

}

.nombre{
    color: black;
}

#app {
    font-size: 30px; 
    font-weight: bold; 
    background: #DD5E89;  
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  
    background: linear-gradient(to right, #F7BB97, #DD5E89); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


.boton-cv{
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: #993e58;
    border: none;
}

/* HABILIDADES */

.titulo-habilidades{
    color: #BA5370;
    font-weight: 500;
}

.iconos-habilidades{
    background: #DD5E89;  
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  
    background: linear-gradient(to right, #F7BB97, #DD5E89); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-habilidades{
    color: #f18495;
    font-weight: 400;
}

.caja-habilidades{
    background-color: #ffdde138;
    color: #080808;
    text-align: justify;
}



/* TESTIMONIOS */
.titulo-testimonio{
    color: #BA5370;
    font-weight: 500;
}

/* PROYECTO */

.titulo-proyecto{
    color: #BA5370;
    font-weight: 500;
}

.btn-proyecto{
    background-color: #ffdde138;
}

/* CONTACTO */
.btn2{
    background: #FBD3E9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
}

.icono-contacto{
    background: #FBD3E9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-proyecto{
        background-color: #ffdde138;

}

.contacto{
    background-color: #ffdde138;
}


/* RECOMENDACIONES */
/* General para las tarjetas */
.card.tarjeta {
    width: 20rem; 
}
  
  /* Imágenes de las tarjetas */
.card.tarjeta .card-img-top {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    margin: 0 auto; 
    display: block;
}
  
.card.tarjeta .card-body .card-text {
    text-align: justify;
    font-size: 14px;
}

  .card-title,
  .card-subtitle {
    margin-bottom: 10px;
}
  

  .carousel-item {
    padding: 10px;
}

  .card-body {
    width: 100%; 
    max-width: 100%;
    margin: 0 auto; 
}


.card-body .card-text {
    width: 100%; 
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #FBD3E9;
}


  
footer li a i{
    color: black;
}

footer p{
    color: #a75b87;
}

footer p a{
    text-decoration: none;
    color: black;
}



.btn-proyecto a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:500px){
.menu-navegacion{
    width: 65vw;
}
.photo{
    top: 20px;
    right: 20px;
}
.titulo{
    font-size: 30px ;
}
.subtitulo{
    font-size: 30px;
}
.agregar-imagen{
    width: 95%;
}
.img-galeria{
    width: 95%;
}
.social-media{
    width: 100%;
}
.contact-us{
    width: 90%;
}

#logo{
    font-size: 25px;
}
.titulo{
    font-size: 20px;
}
}


@media screen and (max-width:400px){
    #logo{
        font-size: 20px;
    }
    .titulo{
        font-size: 15px;
    }
}